body {
	width:100%;
	margin:auto;
	background-color:#8B4513;
}
.container {
	width:100%;
	margin: 0 auto;
}
.header {
	padding:10px;
	background-color:BurlyWood;
	width: 100%;
	border-right: 1px solid blue;
	top: 0;
	position: fixed;
	box-shadow: 2px 2px 2px grey;
}
.footer {
	text-align:center;
	margin-top: -20px;
}
h1 {
	border:2px solid chocolate;
	border-radius:30px;
	padding-left:10px;
	margin-left:20px;
	width:380px;
	background-color:orange;
	box-shadow:-2px 4px 9px grey;
}
h1 > a {
	color:brown;
}
p {
	color:white;
	text-align:center;
	background-color:blue;
	border:1px solid grey;
	padding:8px;
	padding-left:10px;
	width:30vw;
	border-radius:20px;
}
.title {
	border:1px solid grey;
	padding:2px;
	padding-left:8px;
	padding-right:10px;
	border-radius:20px;
	background-color:lime;
}
.term {
	padding:20px;
}
.content {
	padding:20px;
	margin: 50px;
	font-size:2.5vw;
	font-family:georgia;
	border-radius:20px;
	margin-top:120px;
	padding-left:15px;
	background-color:#FFDAB9;
	box-shadow: 4px 5px 10px #800000;
}

.try {
	margin-left:80px;
}
input ,select {
	padding:10px;
	margin: 15px;
	margin-top:20px;
	border:1px solid grey;
	border-radius: 20px;
	width:30vw;
}
button {
	padding:8px;
	margin: 10px;
	border: 1px solid peru;
	border-radius: 20px;
	background-color:orange;
	text-align:center;
	width:100px;

}
button:hover {
	margin-top: 9px;
	background-color:orange;
	box-shadow:0 3px 5px;
	padding:9px;
	margin-bottom:9px;
}
a {
	text-decoration:none;
}
@media screen and (max-width:600px) {
h1 {
	width:335px;
	font-size:28px;
	margin-left:15px;
	}
.try {
	margin-left:55px;
	}
.term {
	margin-left: -20px;
}
.content {
	font-size:3vw;
	}
input, select {
	padding:5px;
	}
}
@media screen and (max-width:450px) {
h1 {
	width:300px;
	font-size:25px;
	}
.try {
	margin-left:35px;
	}
.term {
	margin-left: -20px;
}
.content {
	font-size:3vw;
	}
input, select {
	padding:5px;
	}
}
@media screen and (max-width:240px) {
h1 {
	width:240px;
	font-size:20px;
}
.try {
	margin-left:15px;
	}
.term {
	margin-left: -20px;
}
.content {
	font-size:3vw;
	}
input, select {
	padding:5px;
	}
}